@import 'responsive';
@import 'header';
@import 'footer';
@import 'fonts';
@import 'home';
@import 'archive';
@import 'cards';
@import 'prices';
@import 'products';
@import 'backport';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fafafa;
}

.h1,
h1 {
  font-size: 32px;
  line-height: 1.25;
  margin: 0 0 32px;
  font-family: "Exo 2.0";
  font-weight: 500;

  @include mobile {
    font-size: 28px;
    // margin: 0 0 28px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1268px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 100%;
  box-sizing: border-box;

  @include mobile {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include tablet {
    padding-left: 16px;
    padding-right: 16px;
    width: 980px;
  }
}

.main {
  background: #fff;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav-slider {
  padding: 20px 48px;
  position: relative;
}

.nav-slider .swiper-slide {
  width: auto;
}

.nav-slider__link {
  color: #000000;
  font-family: "Exo 2.0";
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.nav-slider__link:hover {
  background-color: rgba(132, 186, 62, 0.5);
}

.nav-slider-button-prev,
.nav-slider-button-next {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 12px;
  position: absolute;
  cursor: pointer;
}

.nav-slider-button-prev::before,
.nav-slider-button-next::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(132, 186, 62, 0.5);
  z-index: 10;
}

.nav-slider-button-prev:hover::before,
.nav-slider-button-next:hover::before {
  background-color: rgba(132, 186, 62, 0.8);
}

.nav-slider-button-next {
  left: auto;
  right: 6px;
}

.nav-slider-button-prev::after {
  content: '';
  width: 8px;
  height: 8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  z-index: 20;
  margin-left: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.nav-slider-button-next::after {
  content: '';
  width: 8px;
  height: 8px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  z-index: 20;
  margin-left: -2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.masthead {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.masthead__primary {
  width: calc(75% - 6px);
  flex-grow: 1;
  height: 640px;

  @include mobile {
    height: 320px;
    width: 100%;
  }
  @include tablet {
    width: 100%;
    height: 480px;
  }
}

.masthead__secondary {
  width: calc(25% - 6px);
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  height: 640px;

  @include mobile {
    height: 652px;
    width: 100%;
  }
  @include tablet {
    width: 100%;
    height: 320px;
  }
}

.masthead__secondary-cell {
  flex-basis: 100%;
  flex-grow: 1;

  @include tablet {
    flex-basis: calc(50% - 6px);
  }
}

.masthead-primary {
  position: relative;
  height: 100%;
  width: 100%;
}

.masthead-primary .swiper-button-prev,
.masthead-primary .swiper-button-next {
  color: #fff;
}

.masthead-primary .swiper-pagination-bullet {
  background: #ffffff;
  opacity: .6;
}

.masthead-primary .swiper {
  height: 100%;
  width: 100%;
}

.masthead-primary .swiper-pagination-bullet-active {
  background-color: #5c9314;
}

.masthead-primary .swiper-pagination-clickable .swiper-pagination-bullet:hover {
  background: #fff;
}

.masthead-primary .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.masthead-primary .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 12px;
}

.masthead-primary__title {
  z-index: 20;
  background: rgba(252, 196, 29, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0 0 4px 0;
  color: #000000;
  font-family: "Exo 2.0";
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  padding: 12px;
}

.masthead-primary-item {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.masthead-primary-item__image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.masthead-primary-item__image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.masthead-primary-item__content {
  padding: 48px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 60%);
  width: 100%;

  @include mobile {
    padding: 32px 24px;
  }
}

.masthead-primary-item__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.masthead-primary-item__tag {
  color: #000000;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: rgba(245, 245, 245, 0.65);
  position: relative;
  z-index: 30;

  @include mobile {
    font-size: 12px;
    padding: 2px 12px;
    min-height: 28px;
    letter-spacing: -0.3px;
  }
}

.masthead-primary-item__title {
  color: #ffffff;
  font-family: "Exo 2.0";
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  margin-top: 30px;
  display: block;
  text-decoration: none;

  @include mobile {
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
  }
}

.masthead-primary-item__title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.masthead-primary-item__date {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  margin-top: 30px;

  @include mobile {
    margin-top: 16px;
  }
}

.masthead-secondary-item {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.masthead-secondary-item__image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.masthead-secondary-item__image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.masthead-secondary-item__content {
  padding: 32px 24px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 60%);
  width: 100%;
}

.masthead-secondary-item__title {
  color: #ffffff;
  font-family: "Exo 2.0";
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-top: 30px;
  display: block;
  text-decoration: none;

  @include mobile {
    margin-top: 16px;
  }
}

.masthead-secondary-item__title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.masthead-secondary-item__date {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  margin-top: 16px;
}

.masthead-secondary {
  position: relative;
  width: 100%;
  height: 100%;
}

.masthead-secondary__title {
  z-index: 20;
  background: rgba(252, 196, 29, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0 0 4px 0;
  color: #000000;
  font-family: "Exo 2.0";
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  padding: 12px;
}

.siple-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siple-pagination .page-numbers {
  display: inline-flex;
  align-items: center;
  font-family: "Exo 2.0";
  font-size: 14px;
  line-height: 1;
  padding: 8px;
  border-radius: 4px;
}

.siple-pagination a.page-numbers {
  color: #5c9314;
  text-decoration: none;
}

.siple-pagination a.page-numbers:hover {
  background: #fafafa;
}

.siple-pagination span.page-numbers {
  color: #939393;
  cursor: default;
}

.siple-pagination .next {
  position: relative;
  padding-left: 26px;
}

.siple-pagination .next::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background: currentColor;
  position: absolute;
  left: 8px;
  top: calc(50% - 3px);
  border-radius: 2px;
  transform: rotate(-45deg);
}

.siple-pagination .next::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background: currentColor;
  position: absolute;
  left: 8px;
  bottom: calc(50% - 3px);
  border-radius: 2px;
  transform: rotate(45deg);
}

.siple-pagination .prev {
  position: relative;
  padding-right: 26px;
}

.siple-pagination .prev::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background: currentColor;
  position: absolute;
  right: 8px;
  top: calc(50% - 3px);
  border-radius: 2px;
  transform: rotate(45deg);
}

.siple-pagination .prev::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background: currentColor;
  position: absolute;
  right: 8px;
  bottom: calc(50% - 3px);
  border-radius: 2px;
  transform: rotate(-45deg);
}

.widget-side {
  
}

.widget-side__title {
  color: #13380a;
  font-family: "Exo 2.0";
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.63px;
  min-height: 44px;
  border-radius: 4px;
  background-color: rgba(132, 186, 62, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
}

.directions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 24px 0;
}

.directions-list__item {
  color: #000000;
  font-family: "Exo 2.0";
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.8px;
  display: inline-block;
  padding: 10px 18px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.directions-list__item:hover {
  background: rgba(132, 186, 62, 0.3);
}

.details {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.details__media img {
  max-width: 100%;
  height: auto;
}

.details__media {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;

  @include mobile {
    margin-bottom: 24px;
  }
}

.details__date {
  color: #d2d2d2;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 32px;

  @include mobile {
    margin-bottom: 16px;
  }
}

.details__title {
}

.content {
  text-wrap: balance;
  text-align: justify;
  
  p {
    margin: 0;
  }
  
  * + p {
    margin-top: 24px;
  }
  
  ul {
    margin: 0;
  }
  
  * + ul {
    margin-top: 24px;
  }
  
  h2 {
    font-size: 28px;
    line-height: 1.25;
    font-family: "Exo 2.0";
    font-weight: 500;
    margin: 0;

    @include mobile {
      font-size: 24px;
    }
  }
  
  * + h2 {
    margin-top: 42px;
  }
  
  h3 {
    font-size: 24px;
    line-height: 1.25;
    font-family: "Exo 2.0";
    font-weight: 500;
    margin: 0;

    @include mobile {
      font-size: 20px;
    }
  }
  
  * + h3 {
    margin-top: 36px;
  }
  
  h4 {
    font-size: 20px;
    line-height: 1.25;
    font-family: "Exo 2.0";
    font-weight: 500;
    margin: 0;

    @include mobile {
      font-size: 18px;
    }
  }
  
  * + h4 {
    margin-top: 30px;
  }

  a {
    text-decoration: none;
    color: #5c9314;
  }
  
  a:hover {
    color: #32500b;
    text-decoration: underline;
  }

  hr {
    margin: 24px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 0;
    border-left: 0;
  }
}

.details-related {
  margin-top: 42px;
}

.details-related__title {
  font-size: 28px;
  line-height: 1.25;
  font-family: "Exo 2.0";
  font-weight: 500;
}

.details-related__list {
  margin: 0;
  margin-top: 24px;
}

.details-related__list li {}

.details-related__list li a {
  text-decoration: none;
  color: #5c9314;
  font-weight: bold;
}

.details-related__list li a:hover {
  color: #32500b;
  text-decoration: underline;
}

.sidebar .menu,
.side-menu {
  padding: 0;
  margin: 0 -8px;
  list-style: none;

  @include mobile {
    margin-left: -12px;
    margin-right: -12px;
  }
  @include tablet {
    margin-left: -24px;
    margin-right: -24px;
  }
}

.sidebar .menu .menu-item,
.side-menu .menu-item {
  border-bottom: 2px solid #fafafa;
}

// .sidebar .menu .menu-item:last-child,
// .side-menu .menu-item:last-child {
//   border-bottom: none;
// }

.sidebar .menu .menu-item a,
.side-menu .menu-item a {
  display: flex;
  font-size: 16px;
  font-family: "Exo 2.0";
  font-weight: 500;
  line-height: 1;
  padding: 6px 24px;
  text-decoration: none;
  color: #000000;
  min-height: 64px;
  align-items: center;
}

.sidebar .menu .menu-item.current-menu-item a,
.side-menu .menu-item.current-menu-item a {
  color: #5c9314;
}

.sidebar .menu .menu-item a:hover,
.side-menu .menu-item a:hover {
  background: #fafafa;
}

// .search-list {

// }

// .search-item + .search-item {
//   margin-top: 32px;
// }

// .search-item__title {
//   font-size: 24px;
//   line-height: 1.25;
//   font-family: "Exo 2.0";
//   font-weight: 500;
//   margin: 0 0 16px;
//   color: #7ebc2b;
// }

// .search-item__title:hover {
//   color: #5c9314;
// }

// .search-item__desc {
//   font-size: 16px;
//   line-height: 1.25;
// }

.widget_banner_widget {
  display: none;
}

.widget_banner_widget.widget_banner_widget_show {
  display: block;
}

.widget_banner_widget a {
  display: block;
}

.widget_banner_widget img {
  display: block;
  width: 100%;
  height: auto;
}

.widgets-home-top {
  margin-bottom: 20px;
}

.widgets-archive-top {
  margin-top: 10px;
}

.widgets-news-feed {
  margin: 0 -21px;
}
