// отступ контента 24px, на телефоне 12px

.archive-layout {
  display: flex;
  flex-wrap: wrap;
}

.archive-layout__content {
  padding: 24px;
  width: 75%;
  flex-grow: 1;

  @include mobile {
    width: 100%;
    order: 1;
    padding-left: 12px;
    padding-right: 12px;
  }
  @include tablet {
    width: 100%;
    order: 1;
  }
}

.archive-layout__right {
  padding: 24px 8px;
  width: 25%;
  flex-grow: 1;
  border-left: 2px solid #fafafa;

  @include mobile {
    width: 100%;
    order: 2;
    border-left: none;
    border-top: 2px solid #fafafa;
    padding-left: 12px;
    padding-right: 12px;
  }
  @include tablet {
    width: 100%;
    order: 2;
    border-left: none;
    border-top: 2px solid #fafafa;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.archive-pagination {
  padding: 12px;
  margin-left: -24px;
  margin-right: -24px;
  border-top: 2px solid #fafafa;
  border-bottom: 2px solid #fafafa;

  @include mobile {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.archive-pagination:first-child {
  margin-top: -24px;
  border-top: none;
}

.archive-pagination:last-child {
  margin-bottom: -24px;
  border-bottom: none;
}

.archive-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -1px;
  margin-bottom: -1px;

  @include mobile {
    margin-left: -13px;
    margin-right: -13px;
  }
}

.archive-list__item {
  display: flex;
  flex-basis: calc(calc(100% / 3) + 2px);
  flex-grow: 1;
  margin: -1px;
  min-width: 260px;
}
