.banner-sidebar {
    display: none;
}

.banner-sidebar.banner-sidebar_show {
    display: block;
}

.banner-sidebar__widget {
    display: none;
}

.banner-sidebar__widget.banner-sidebar__widget_show {
    display: block;
}

.banner-sidebar__widget a {
    display: block;
}

.banner-sidebar__widget img {
    display: block;
    width: 100%;
    height: auto;
}